/* General style */
table#hoofd, table#hoofd td {
	line-height:1.5;
	/* background-color: #FFFFFF; */
	/* background-image: url('/assets/<image>'); */
	/* background-repeat: no-repeat; */
	/* background-position: bottom right; */
	/* color: #000000; */
	/* font-weight: bold; */
	/* font-style: italic; */
	/* text-decoration: underline; */
	/* font-family: Verdana, Arial, sans-serif; */
	/* font-size: 12px; */
}

table#hoofd,
table#hoofd tr,
table#hoofd td,
table#hoofd table,
table#hoofd table td,
table#hoofd table tr {
	margin: 0px;
	padding: 0px;
	border-collapse: collapse;
	font-family: 'Georgia';
	line-height: 21px;
	font-size: 12px;
}

table#hoofd p {
	padding: 0px;
	margin: 0px 0px 10px 0px;
	line-height:1.5;
}

/* Style of heads */
table#hoofd h1.kop {
	font-family: 'Caudex', serif;
	/* background-color: transparent; */
	color:#252525;
	/* font-weight: bold; */
	/* font-style: italic; */
	/* text-decoration: underline; */
	/* font-family: Verdana, Arial, sans-serif; */
	font-size: 21px;
	line-height: 30px;
	margin: 0px;
	padding: 0px; 
	font-weight:normal;
}

table#hoofd h2.kop {
	/* background-color: transparent; */
	color: #000000;
	/* font-weight: bold; */
	/* font-style: italic; */
	/* text-decoration: underline; */
	/* font-family: Verdana, Arial, sans-serif; */
	font-size: 17px;
	line-height: 27px;
	margin: 0px;
	padding: 0px;
}

table#hoofd h3.kop {
	/* background-color: transparent; */
	color: #000000;
	/* font-weight: bold; */
	/* font-style: italic; */
	/* text-decoration: underline; */
	/* font-family: Verdana, Arial, sans-serif; */
	font-size: 15px;
	line-height: 25px;
	margin: 0px;
	padding: 0px;
}

/* Style of normal link */
table#hoofd a {
	/* background-color: transparent; */
	color: #0000FF;
	/* font-weight: bold; */
	/* font-style: italic; */
	text-decoration: none;
	/* font-family: Verdana, Arial, sans-serif; */
	/* font-size: 12px; */
}

/* Style of link when mouse is over */
table#hoofd a:hover {
	/* background-color: transparent; */
	/* color: #0000FF; */
	/* font-weight: bold; */
	/* font-style: italic; */
	/* text-decoration: underline; */
	/* font-family: Verdana, Arial, sans-serif; */
	/* font-size: 12px; */
}

/* Style of link when user clicked */
table#hoofd a:visited, table#hoofd a:active, table#hoofd a.active {
	/* background-color: transparent; */
	/* color: #0000FF; */
	/* font-weight: bold; */
	/* font-style: italic; */
	/* text-decoration: underline; */
	/* font-family: Verdana, Arial, sans-serif; */
	/* font-size: 12px; */
}

/* Space around the content */
table#hoofd table.row td.default {
	padding: 0px;
}
table#hoofd table.row {
	width: 100%;
}
table#hoofd img {
	border: 0px none;
}

table#hoofd .left {
	float: left;
	margin: 0px 15px 0px 0px;
}

table#hoofd .right {
	float: right;
	margin: 0px 0px 0px 15px;
}

table#hoofd hr {
	border: none;
	height: 1px;
	background-color:  #015953;
	color: #015953;
}

/* style for image gallary */
table#hoofd .imggallery a {
    border: 0px none;
    float: left;
    margin: 0px 1px 1px 0px;
}

/* styles for Form module */
table#hoofd table.moduleform {
	width: 100%;
}

table#hoofd table.moduleform .fieldlabel {
	color: #000000;
	font-weight: bold;
}

table#hoofd table.moduleform .fieldinput {
	color: #000000;
}

table#hoofd table.moduleform .fieldinputcomment {
	color: #000000;
	font-weight: bold;
}

table#hoofd table.moduleform .fieldtext {
	width: 200px;
}

table#hoofd table.moduleform .fieldtextcomment {
	width: 200px;
}

table#hoofd table.moduleform .fieldcheckbox {
	width: 100px;
}

table#hoofd table.moduleform .fieldcheckboxcomment {
	width: 100px;
}

table#hoofd table.moduleform .fieldcheckbox {
	/*width: 100px;*/
}

table#hoofd table.moduleform .fieldcheckboxcomment {
	width: 100px;
}

table#hoofd table.moduleform .fieldcheckboxoption {
	width: 100px;
}

table#hoofd table.moduleform .radiobuttoncont {
	float: left;
}

table#hoofd table.moduleform .fieldradio {
	width: 20px;
}

table#hoofd table.moduleform .fieldradiocomment {
	width: 20px;
}

table#hoofd table.moduleform .fieldradiooption {
	width: 20px;
}

table#hoofd table.moduleform .fieldselect {
	width: 100px;
}

table#hoofd table.moduleform .fieldselectcomment {
	width: 100px;
}

table#hoofd table.moduleform .fieldtitle {
	color: #000000;
	font-weight: bold;
}

table#hoofd table.moduleform .fieldtitlecomment {
	color: #000000;
	font-weight: bold;
}

table#hoofd table.moduleform .fielderror {
	color: #801414;
	font-weight: bold;
}

table#hoofd table.moduleform .required {
	color: #cc0000;
	padding: 0 5px;
}

table#hoofd table.moduleform td .submitbutton {
	width: 150px;
}

table#hoofd div.errormessagefield,
table#hoofd div.errormessagecontent {
	font-weight: bold;
	color: #FE0000;
}

table#hoofd div.errormessagefield {
	float: left;
	width: 120px;
}

/* styles for Form module */
table#hoofd table.moduleform {
	width: 100%;
}

table#hoofd table.moduleform .fieldlabel {
	color: #000000;
	font-weight: normal;
}

table#hoofd table.moduleform .fieldinput {
	color: #000000;
	font-weight: normal;
	width: 200px;
}	

table#hoofd table.moduleform .fieldinputcomment {
	color: #000000;
	font-weight: normal;
}

table#hoofd table.moduleform .fieldtext {
	width: 200px;
}

table#hoofd table.moduleform .fieldtextcomment {
	width: 200px;
}

table#hoofd table.moduleform .fieldcheckbox {
	width: 100px;
}

table#hoofd table.moduleform .fieldcheckboxcomment {
	width: 100px;
}

table#hoofd table.moduleform .fieldcheckbox {
	width: 100px;
}

table#hoofd table.moduleform .fieldcheckboxcomment {
	width: 100px;
}

table#hoofd table.moduleform .fieldcheckboxoption {
	width: 100px;
}

table#hoofd table.moduleform .radiobuttoncont {
	float: left;
}

table#hoofd table.moduleform .fieldradio {
	width: 20px;
}

table#hoofd table.moduleform .fieldradiocomment {
	width: 20px;
}

table#hoofd table.moduleform .fieldradiooption {
	width: 20px;
}

table#hoofd table.moduleform .fieldselect {
	width: 100px;
}

table#hoofd table.moduleform .fieldselectcomment {
	width: 100px;
}

table#hoofd table.moduleform .fieldtitle {
	color: #000000;
	font-weight: bold;
}

table#hoofd table.moduleform .fieldtitlecomment {
	color: #000000;
	font-weight: bold;
}

table#hoofd table.moduleform .fielderror {
	color: #801414;
	font-weight: bold;
}

table#hoofd table.moduleform .required {
	color: #cc0000;
}

table#hoofd table.moduleform td .submitbutton {
	width: 150px;
}

table#hoofd div.errormessagecontent {
	color:#FE0000;
}

table#hoofd span.fjc_img_footnote {
	display: block; 
	font-size: 0.8em;
}

table#hoofd ul li {
    display: list-item;
    list-style: disc;
}
table#hoofd ul {
    margin-left: 40px;
}

table#hoofd strong {
    font-weight: bold;
}
table#hoofd i {
    font-style: italic; 
}

table#hoofd i strong {
    font-style: italic; 
}



table#hoofd .taggedImage {
	position: relative;
	overflow: visible;
}

table#hoofd .taggedImage .tagHolder {
	display: block;
	position: absolute;
}

table#hoofd .taggedImage .tagHolder .tag {
	display: block;
	/*background-color: #000000;*/
	background-color: transparent;
	background-image: url('/assets/spacer.gif');
	/*opacity: 0.3;
	filter: alpha(opacity = 30);
	border: 1px solid #ffffff;
	*/
	z-index: 1;
	cursor: pointer;
	
	text-decoration: none;
	overflow: hidden;
}

table#hoofd .taggedImage .tagHolder .label {
	float: left;
	display: none;
	white-space: nowrap;
	line-height: 16px;
	font-size: 12px;
	color: #000000;
	background-color: #ffffff;
	padding: 2px 4px;
	
	text-decoration: none;
}

table#hoofd .taggedImage .tagHolder:hover .tag {
	opacity: 1;
	filter: alpha(opacity = 100);
	background-color: transparent;
	
	z-index: 10;
	
	overflow: visible;
}

table#hoofd .taggedImage .tagHolder:hover .label {
	display: block;
}


/* FJC Caching function */
/* File: site_css/layout.css */


html {
	height: 100%;
	overflow-y: scroll;
}

body {
	margin: 0px;
	text-align: left;
	height: 100%;
}

div#fjc_copyright {
	color: #123456;
}

span.copyright_companyname, span.copyright_design {
	margin: 0 30px 0 0;
}

a.copyright_link {
	text-decoration: none;
	color: #123456;
}
/* FJC Caching function */
/* File: site_css/layout/default.css */

/* 
    Document   : default
    Created on : 3-okt-2013, 15:53:39
    Author     : Bert Bakker
    Description:
        Purpose of the stylesheet follows.
*/


.websitecontainer{
	width: 988px;
	line-height:1.5;
}
.sprite {
	background-image: url('/assets/sprite.png');
}

div.logo {
	background-position: -2px -3px;
	height: 304px;
	width: 326px;
	background-color:grey;
	float:left;
	
}
div.page {
	
	min-height: 574px;
	width: 662px;
	background-color:white;
	float:left;
	margin-top: 49px;
}

div.content{
	/*height: 327px;*/
	min-height: 322px;
	width: 633px;
	margin: 241px 14px 14px 14px;
	
color:#252525;


/*text-shadow: #333 0px 0px 0.5px;*/
}
div.header_image {
	height: 207px;
	position: absolute;
	overflow:hidden;
	width: 633px;
	margin:14px 14px 10px 14px;
	
}
div.navigation .pointer{
	height:11px;
	width: 11px;
	float:left;
	background-position: -311px -309px;
	margin-top: 20px;

}
div.navigation:hover .submenu {
	display:block;
}


div.navigation
{
	  -webkit-font-smoothing: antialiased;
	height: 57px;
	width: 293px;
	background-position: -5px -363px;
/*	background-position: -8px -373px;*/
	position: absolute;
	left: 308px;
	top: 207px;
	color: white;
	font-family: 'Caudex', serif;
	font-size: 20px;
	padding-left: 20px;
	padding-top: 18px;
/*	top: 215px;*/
	cursor: pointer;
	

}

li.menu{

	height: 54px;
	width: 307px;
	list-style: none;
	background-position: -8px -371px;
	
}

div.submenu
{
	height: 195px;
	width: 265px;
	position: absolute;
	left: 9px;
	top: 57px;
	z-index:10;
	display:none;
	background-image:url('/assets/blank.gif');
}
div.submenu ul li.active{

	height:54px;
	width:307px;
	list-style: none;
	background-position: -8px -373px;
	margin-top: -14px;
	margin-left: -10px;
}


div.submenu ul li{

	height:29px;
	width:256px;
	list-style: none;
	padding-top: 2px;
	z-index: 2;
}

div.submenu ul li:hover span{
	border-bottom: 1px solid #9fa615;
}
.menuPage .underlines{
	border-bottom: 1px solid #9fa615;
	margin-left: 9px;
}
div.menuPage
{
	text-shadow:1px 1px black;
	
}

div.submenu ul li a{
	
	font-family: 'Caudex', serif; 
	font-size: 16px;
	text-decoration:none;
	color:white;
	text-shadow:1px 1px black;
	display: block;
	padding-left: 10px;
	padding-top: 3px;
	height:29px;
	width:256px;
	background-position: -14px -438px;
}
div.submenu ul li:first-child{
		padding-top: 5px;
}
li.submenu a:hover{
	border-bottom: 1px solid #9fa615;
}
div.border_top{
	height: 84px;
	width: 85px;
	border-left:1px solid #9fa615;
	border-top:1px solid #9fa615;
	float:left;
	margin:10px 0px 0px 10px;
}
div.border_bottom{
	height: 84px;
	width: 85px;
	border-right:1px solid #9fa615;
	border-bottom:1px solid #9fa615;
	float: right;
	margin-top: -92px;
	margin-right: 10px	
}

div.header{
	height: 215px;
	font-size:67px;
	color:#252525;
	font-family: 'Caudex', serif;
	color:white;
		
}
div.header .first{
	height:108px;
	margin-left: 73px;
	text-shadow: -5px -3px 8px rgba(0, 0, 0, 0.5);
	white-space: nowrap;
}
div.header .second{
	height: 96px;
	margin-left: 480px;
	margin-top: -23px;
	text-shadow: -5px -3px 8px rgba(0, 0, 0, 0.5);
	white-space: nowrap;
}


/*Google Iframe Plugin*/
iframe{
	position: absolute;
	top: 276px;
	left: 340px;
}




table#hoofd a {
	/* background-color: transparent; */
		font-size:12px;
/*		font-family: 'Caudex', serif; */
color:#252525;
	font-family: 'arial';

		color:#005953;
	/* font-weight: bold; */
	/* font-style: italic; */
	font-weight:bold;
	text-decoration: none;
	/* font-family: Verdana, Arial, sans-serif; */
	/* font-size: 12px; */
	border-bottom:1px solid #9fa615;;
}

table#hoofd p {
	color:#252525;
	font-family: 'arial';
	line-height: 20px;
	padding: 0px;
	margin: 0px 0px 10px 0px;

}

iframe{
	z-index: 1;
}
.mapsnav{
width: 110px;
height: 16px;
background: rgba(255, 255, 255, 0.86);
position: absolute;
top: 486px;
left: 860px;
text-align: center;
font-size: 11px;
color: #005953;
font-family: 'Caudex', serif;
font-weight: 600;
cursor: default;
}
/* FJC Caching function */
/* File: site_css/supersized.css */

/*

	Supersized - Fullscreen Slideshow jQuery Plugin
	Version : 3.2.7
	Site	: www.buildinternet.com/project/supersized
	
	Author	: Sam Dunn
	Company : One Mighty Roar (www.onemightyroar.com)
	License : MIT License / GPL License
	
*/

* { margin:0; padding:0; }
body { background:#111; height:100%; }
	img { border:none; }
	
	#supersized-loader { position:absolute; top:50%; left:50%; z-index:0; width:60px; height:60px; margin:-30px 0 0 -30px; text-indent:-999em; background:url(/assets/progress.gif) no-repeat center center;}
	
	#supersized {  display:block; position:fixed; left:0; top:0; overflow:hidden; z-index:-999; height:100%; width:100%; }
		#supersized img { width:auto; height:auto; position:relative; display:none; outline:none; border:none; }
			#supersized.speed img { -ms-interpolation-mode:nearest-neighbor; image-rendering: -moz-crisp-edges; }	/*Speed*/
			#supersized.quality img { -ms-interpolation-mode:bicubic; image-rendering: optimizeQuality; }			/*Quality*/
		
		#supersized li { display:block; list-style:none; z-index:-30; position:fixed; overflow:hidden; top:0; left:0; width:100%; height:100%; background:#111; }
		#supersized a { width:100%; height:100%; display:block; }
			#supersized li.prevslide { z-index:-20; }
			#supersized li.activeslide { z-index:-10; }
			#supersized li.image-loading { background:#111 url(/assets/progress.gif) no-repeat center center; width:100%; height:100%; }
				#supersized li.image-loading img{ visibility:hidden; }
			#supersized li.prevslide img, #supersized li.activeslide img{ display:inline; }
/* FJC Caching function */
/* File: site_css/layout/home.css */

/* 
    Document   : home
    Created on : 4-okt-2013, 13:46:29
    Author     : bert@st.fenj.nl
    Description:
        Purpose of the stylesheet follows.
*/


div.menu ul{
	padding: 0;
	margin: 0px;
}
div.menu ul.menu li{
	height: 49px;
	width: 289px;
	list-style: none;
	margin-top: 2px;
}
div.menu ul.menu li a{
	font-size: 20px;
	font-family: 'Georgia';
	text-decoration: none;
	color: white;
	background-position: -3px -311px;
	height: 37px;
	width: 273px;
	display: block;
	
	padding-left: 16px;
	padding-top: 12px;
	text-shadow: 1px 1px black;

}
div.menu ul.menu li a span{
		/*FILTER VOOR IE8 or 9 */
		
}

div.menu ul.menu li.menuItem1{
	margin-top: 0px;
}
div.menu ul.menu li span {
        display: inline-block;
}
div.menu ul.menu li:hover span{

	border-bottom: 1px solid #9fa615;
}
div.menu
{
	-webkit-font-smoothing: antialiased;
	float: left;
	
}
div#slider
{
	position:absolute;
	left:-620px;
}

.fjc_slideshow img {
	display:none;
	position:absolute;
	top:0; left:0;
}

div.ppf_contact_groups {
	float:left;
	margin-top: 10px;
	margin-left: 10px;
}

div.ppf_contact {
	float:left;
	margin-top: 10px;
	margin-left: 10px;
}

h2.ppf_contact_groups_list_title {
	background-color: transparent;
	color: #000000;
	/* font-weight: bold; */
	/* font-style: italic; */
	/* text-decoration: underline; */
	/* font-family: Verdana, Arial, sans-serif; */
	font-size: 17px;
}
h3.ppf_contact_title {
	background-color: transparent;
	color: #000000;
	/* font-weight: bold; */
	/* font-style: italic; */
	/* text-decoration: underline; */
	/* font-family: Verdana, Arial, sans-serif; */
	font-size: 15px;
}
table.files {
	margin: 0px;
	padding: 0px;
	border-collapse: collapse;
	border-spacing: 0px;
	font-size: 12px;
	font-family: Helvetica, Verdana, sans-serif;
	width: 100%;
}
table.files td.image {
	margin: 0px;
	padding: 0px;
	width: 20%;
}

table.files td.fill {
	margin: 0px;
	padding: 0px;
	width: 100%;
}

table.files td {
	margin: 0px;
	padding: 0px 7px 0px 3px;
	white-space: nowrap;
}

table.files tr.even {
	background-color: #EFFFD6;
	color: #000000;
	height: 20px;
}

table.files tr.odd {
	background-color: #FDFFFA;
	color: #000000;
	height: 20px;
}

/* Floatbox v3.22 */
/* November 15, 2008 */

#fbOverlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-width: 0;
	margin: 0;
	padding: 0;
}

/* overlay color */
div.fbOverlay_black { background-color: #000; }
div.fbOverlay_white {background-color: #000; }
div.fbOverlay_blue { background-color: #0b183b; }
div.fbOverlay_yellow { background-color: #752; }
div.fbOverlay_red { background-color: #280000; }
div.fbOverlay_custom { background-color: #1b2642; }

#fbBox {
	position: absolute;
	border-style: solid;
	border-width: 0;
	margin: 0;
	padding: 0;
}
div.fbBox_black {
	border-color:#FFFFFF;  /* outerBorder color */
	background-color: #FFF;  /* main floatbox color */
}
div.fbBox_white {
	border-color: #888;
	background-color: #fff;
}
div.fbBox_blue {
	border-color: #4060a8;
	background-color: #0b183b;
}
div.fbBox_yellow {
	border-color: #680c0c;
	background-color: #ed9;
}
div.fbBox_red {
	border-color: #945848;
	background-color: #580808;
}
div.fbBox_custom {
	border-color: #da7b4d;
	background-color: #eed39e;
}

#fbBox div, #fbBox a, #fbBox img, #fbBox iframe {
	border-width: 0;
	margin: 0;
	padding: 0;
	outline: none;
	-moz-outline: none;  /* for older Netscape, doesn't validate, remove if you like */
}
#fbBox a { background: url(/assets/blank.gif); }

#fbZoomDiv, a.fbPopup img, #fbBox #fbIndexLinks img {
	position: absolute;
	left: -9999px;
	top: 0;
	/* border-width is set in js code */
	border-style: solid;
	border-color: black;
	margin: 0;
	padding: 0;
}

#fbBox #fbLoader {
	position: absolute;
	top: 0;
	left: 0;
	min-width: 100%;
	min-height: 100%;
	width: 100%;
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
}

/* animated 'loading' graphic */
#fbBox .fbLoader_black { background-image: url(/assets/loading_black.gif); }
#fbBox .fbLoader_white { background-image: url(/assets/loading_white.gif); }
#fbBox .fbLoader_blue { background-image: url(/assets/loading_black.gif); }
#fbBox .fbLoader_yellow { background-image: url(/assets/loading_white.gif); }
#fbBox .fbLoader_red { background-image: url(/assets/loading_black_small.gif); }
#fbBox .fbLoader_custom { background-image: url(/assets/loading_black_small.gif); }

#fbBox #fbShadowTop, #fbShadowRight, #fbBox #fbShadowBottom, #fbBox #fbShadowLeft, #fbBox #fbShadowCorner {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
}

#fbBox #fbShadowTop { background-position: top left; }
#fbBox .fbShadowTop_halo8 { background-image: url(/assets/shadowTop_halo8.png); }
#fbBox .fbShadowTop_halo12 { background-image: url(/assets/shadowTop_halo12.png); }
#fbBox .fbShadowTop_halo16 { background-image: url(/assets/shadowTop_halo16.png); }
#fbBox .fbShadowTop_halo24 { background-image: url(/assets/shadowTop_halo24.png); }

#fbBox #fbShadowRight { background-position: top right; }
#fbBox .fbShadowRight_drop8 { background-image: url(/assets/shadowRight_drop8.png); }
#fbBox .fbShadowRight_drop12 { background-image: url(/assets/shadowRight_drop12.png); }
#fbBox .fbShadowRight_drop16 { background-image: url(/assets/shadowRight_drop16.png); }
#fbBox .fbShadowRight_drop24 { background-image: url(/assets/shadowRight_drop24.png); }
#fbBox .fbShadowRight_halo8 { background-image: url(/assets/shadowRight_halo8.png); }
#fbBox .fbShadowRight_halo12 { background-image: url(/assets/shadowRight_halo12.png); }
#fbBox .fbShadowRight_halo16 { background-image: url(/assets/shadowRight_halo16.png); }
#fbBox .fbShadowRight_halo24 { background-image: url(/assets/shadowRight_halo24.png); }

#fbBox #fbShadowBottom { background-position: bottom right; }  /* overridden in code for drop shadow */
#fbBox .fbShadowBottom_drop8 { background-image: url(/assets/shadowBottom_drop8.png); }
#fbBox .fbShadowBottom_drop12 { background-image: url(/assets/shadowBottom_drop12.png); }
#fbBox .fbShadowBottom_drop16 { background-image: url(/assets/shadowBottom_drop16.png); }
#fbBox .fbShadowBottom_drop24 { background-image: url(/assets/shadowBottom_drop24.png); }
#fbBox .fbShadowBottom_halo8 { background-image: url(/assets/shadowBottom_halo8.png); }
#fbBox .fbShadowBottom_halo12 { background-image: url(/assets/shadowBottom_halo12.png); }
#fbBox .fbShadowBottom_halo16 { background-image: url(/assets/shadowBottom_halo16.png); }
#fbBox .fbShadowBottom_halo24 { background-image: url(/assets/shadowBottom_halo24.png); }

#fbBox #fbShadowLeft { background-position: bottom left; }
#fbBox .fbShadowLeft_halo8 { background-image: url(/assets/shadowLeft_halo8.png); }
#fbBox .fbShadowLeft_halo12 { background-image: url(/assets/shadowLeft_halo12.png); }
#fbBox .fbShadowLeft_halo16 { background-image: url(/assets/shadowLeft_halo16.png); }
#fbBox .fbShadowLeft_halo24 { background-image: url(/assets/shadowLeft_halo24.png); }

#fbBox #fbShadowCorner { background-position: bottom right; }
#fbBox .fbShadowCorner_drop8 { background-image: url(/assets/shadowCorner_drop8.png); }
#fbBox .fbShadowCorner_drop12 { background-image: url(/assets/shadowCorner_drop12.png); }
#fbBox .fbShadowCorner_drop16 { background-image: url(/assets/shadowCorner_drop16.png); }
#fbBox .fbShadowCorner_drop24 { background-image: url(/assets/shadowCorner_drop24.png); }

#fbBox #fbCanvas {
	position: relative;  /* won't fade in ie6 if absolute */
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

#fbBox #fbMainDiv, #fbBox #fbInfoPanel, #fbBox #fbControlPanel {
	position: absolute;
	border-style: none;
	overflow: hidden;
}
#fbBox #fbMainDiv {
	background-color: #fff;
}

/* innerBorder color */
#fbBox .fbMainDiv_black { border-color: #ccc; }
#fbBox .fbMainDiv_white { border-color: #000; }
#fbBox .fbMainDiv_blue { border-color: #aaa8be; }
#fbBox .fbMainDiv_yellow { border-color: #700; }
#fbBox .fbMainDiv_red { border-color: #b64; }
#fbBox .fbMainDiv_custom { border-color: #b64; }

#fbBox #fbResizer {
	position: absolute;
	width: 25px;  /* = dimensions of the resize button (see note below) */
	height: 25px;
}
/* resize button graphic */
#fbBox .fbResizer_black { background-image: url(/assets/resize_black.gif); }
#fbBox .fbResizer_white { background-image: url(/assets/resize_white.gif); }
#fbBox .fbResizer_blue { background-image: url(/assets/resize_blue.gif); }
#fbBox .fbResizer_yellow { background-image: url(/assets/resize_yellow.gif); }
#fbBox .fbResizer_red { background-image: url(/assets/resize_red.gif); }
#fbBox .fbResizer_custom { background-image: url(/assets/resize_red.gif); }
/* note: if you want the smaller resize button, change #fbResizer width and height to 19px
   and also add "_small" to the resize gif name (e.g., graphics/resize_black_small.gif) */

#fbBox #fbLeftNav, #fbBox #fbRightNav {
	position: absolute;
	height: 100%;
}
#fbBox #fbLeftNav, #fbBox #fbOverlayPrev {
	left: 0;
}
#fbBox #fbRightNav, #fbBox #fbOverlayNext {
	right: 0;
}

#fbBox #fbOverlayPrev, #fbBox #fbOverlayNext {
	position: absolute;
	width: 49px;  /* = dimensions of the upper prev and next graphics */
	height: 23px;
	background-repeat: no-repeat;
}

/* on-mouse-over upper nav prev graphic */
#fbBox .fbOverlayPrev_black { background-image: url(/assets/prev_upr_black.gif); }
#fbBox .fbOverlayPrev_white { background-image: url(/assets/prev_upr_white.gif); }
#fbBox .fbOverlayPrev_blue { background-image: url(/assets/prev_upr_blue.gif); }
#fbBox .fbOverlayPrev_yellow { background-image: url(/assets/prev_upr_yellow.gif); }
#fbBox .fbOverlayPrev_red { background-image: url(/assets/prev_upr_red.gif); }
#fbBox .fbOverlayPrev_custom { background-image: url(/assets/prev_upr_blue.gif); }

/* on-mouse-over upper nav next graphic */
#fbBox .fbOverlayNext_black { background-image: url(/assets/next_upr_black.gif); }
#fbBox .fbOverlayNext_white { background-image: url(/assets/next_upr_white.gif); }
#fbBox .fbOverlayNext_blue { background-image: url(/assets/next_upr_blue.gif); }
#fbBox .fbOverlayNext_yellow { background-image: url(/assets/next_upr_yellow.gif); }
#fbBox .fbOverlayNext_red { background-image: url(/assets/next_upr_red.gif); }
#fbBox .fbOverlayNext_custom { background-image: url(/assets/next_upr_blue.gif); }

#fbBox #fbInfoPanel {
	line-height: 1.25em;
	/* caption and info link text */
  	font-family: Verdana, Helvetica, sans-serif;
	font-size: 12px;
}

#fbBox #fbCaption {
	cursor: default;
}

#fbBox #fbInfoLink, #fbBox #fbPrintLink {
	padding-bottom: .1em;
}

#fbBox #fbItemNumber {
	font-size: 10px;  /* 'image x of y' text */
	white-space: nowrap;
	cursor: default;
}

/* 'image x of y' and indexLinks color */
#fbBox .fbItemNumber_black, #fbBox #fbIndexLinks.fbIndexLinks_black, #fbBox #fbIndexLinks.fbIndexLinks_black a:link, #fbBox #fbIndexLinks.fbIndexLinks_black a:visited { color: #aaa; }
#fbBox .fbItemNumber_white, #fbBox #fbIndexLinks.fbIndexLinks_white, #fbBox #fbIndexLinks.fbIndexLinks_white a:link, #fbBox #fbIndexLinks.fbIndexLinks_white a:visited { color: #666; }
#fbBox .fbItemNumber_blue, #fbBox #fbIndexLinks.fbIndexLinks_blue, #fbBox #fbIndexLinks.fbIndexLinks_blue a:link, #fbBox #fbIndexLinks.fbIndexLinks_blue a:visited { color: #aaa8be; }
#fbBox .fbItemNumber_yellow, #fbBox #fbIndexLinks.fbIndexLinks_yellow, #fbBox #fbIndexLinks.fbIndexLinks_yellow a:link, #fbBox #fbIndexLinks.fbIndexLinks_yellow a:visited { color: #700; }
#fbBox .fbItemNumber_red, #fbBox #fbIndexLinks.fbIndexLinks_red, #fbBox #fbIndexLinks.fbIndexLinks_red a:link, #fbBox #fbIndexLinks.fbIndexLinks_red a:visited { color: #ca8; }
#fbBox .fbItemNumber_custom, #fbBox #fbIndexLinks.fbIndexLinks_custom, #fbBox #fbIndexLinks.fbIndexLinks_custom a:link, #fbBox #fbIndexLinks.fbIndexLinks_custom a:visited { color: #965f74; }

/* caption, infoLink, printLink, & indexLinks:hover color */
#fbBox .fbInfoPanel_black, #fbBox .fbInfoPanel_black a:link, #fbBox .fbInfoPanel_black a:visited, #fbBox #fbIndexLinks.fbIndexLinks_black a:hover { color: #d7d7d7; }
#fbBox .fbInfoPanel_white, #fbBox .fbInfoPanel_white a:link, #fbBox .fbInfoPanel_white a:visited, #fbBox #fbIndexLinks.fbIndexLinks_white a:hover { color: #000; }
#fbBox .fbInfoPanel_blue, #fbBox .fbInfoPanel_blue a:link, #fbBox .fbInfoPanel_blue a:visited, #fbBox #fbIndexLinks.fbIndexLinks_blue a:hover { color: #aaa8be; }
#fbBox .fbInfoPanel_yellow, #fbBox .fbInfoPanel_yellow a:link, #fbBox .fbInfoPanel_yellow a:visited, #fbBox #fbIndexLinks.fbIndexLinks_yellow a:hover { color: #700; }
#fbBox .fbInfoPanel_red, #fbBox .fbInfoPanel_red a:link, #fbBox .fbInfoPanel_red a:visited, #fbBox #fbIndexLinks.fbIndexLinks_red a:hover { color: #ec9; }
#fbBox .fbInfoPanel_custom, #fbBox .fbInfoPanel_custom a:link, #fbBox .fbInfoPanel_custom a:visited, #fbBox #fbIndexLinks.fbIndexLinks_custom a:hover { color: #735; }

#fbBox #fbControls {
	height: 14px;  /* height of control widget graphics - they should all be the same */
	font-size: 1px;
}

#fbBox #fbNavControls {
	width: 88px;  /* sum of lowerprev and lowernext widths */
	height: 14px;  /* height of 1 sprite panel in lowerprev and lowernext graphics */
}

#fbBox #fbPrev {
	float: left;
	width: 44px;  /* = dimensions of the lower nav 'prev' graphic */
	height: 14px;
	background-repeat: no-repeat;
}

/* lower nav 'prev' graphic */
#fbBox .fbPrev_black { background-image: url(/assets/prev_lwr_black.gif); }
#fbBox .fbPrev_white { background-image: url(/assets/prev_lwr_white.gif); }
#fbBox .fbPrev_blue { background-image: url(/assets/prev_lwr_blue.gif); }
#fbBox .fbPrev_yellow { background-image: url(/assets/prev_lwr_yellow.gif); }
#fbBox .fbPrev_red { background-image: url(/assets/prev_lwr_red.gif); }
#fbBox .fbPrev_custom { background-image: url(/assets/prev_lwr_yellow.gif); }

/* lower nav greyed-out 'prev' graphic */
#fbBox .fbPrev_black_off { background-image: url(/assets/prev_lwr_off_black.gif); }
#fbBox .fbPrev_white_off { background-image: url(/assets/prev_lwr_off_white.gif); }
#fbBox .fbPrev_blue_off { background-image: url(/assets/prev_lwr_off_blue.gif); }
#fbBox .fbPrev_yellow_off { background-image: url(/assets/prev_lwr_off_yellow.gif); }
#fbBox .fbPrev_red_off { background-image: url(/assets/prev_lwr_off_red.gif); }
#fbBox .fbPrev_custom_off { background-image: url(/assets/prev_lwr_off_yellow.gif); }

#fbBox #fbNext {
	float: right;
	width: 44px;  /* = dimensions of the lower nav 'next' graphic */
	height: 14px;
	background-repeat: no-repeat;
}

/* lower nav 'next' graphic */
#fbBox .fbNext_black { background-image: url(/assets/next_lwr_black.gif); }
#fbBox .fbNext_white { background-image: url(/assets/next_lwr_white.gif); }
#fbBox .fbNext_blue { background-image: url(/assets/next_lwr_blue.gif); }
#fbBox .fbNext_yellow { background-image: url(/assets/next_lwr_yellow.gif); }
#fbBox .fbNext_red { background-image: url(/assets/next_lwr_red.gif); }
#fbBox .fbNext_custom { background-image: url(/assets/next_lwr_yellow.gif); }

/* lower nav greyed-out 'next' graphic */
#fbBox .fbNext_black_off { background-image: url(/assets/next_lwr_off_black.gif); }
#fbBox .fbNext_white_off { background-image: url(/assets/next_lwr_off_white.gif); }
#fbBox .fbNext_blue_off { background-image: url(/assets/next_lwr_off_blue.gif); }
#fbBox .fbNext_yellow_off { background-image: url(/assets/next_lwr_off_yellow.gif); }
#fbBox .fbNext_red_off { background-image: url(/assets/next_lwr_off_red.gif); }
#fbBox .fbNext_custom_off { background-image: url(/assets/next_lwr_off_yellow.gif); }

#fbBox #fbPlay, #fbBox #fbPause {
	position: absolute;
	background-repeat: no-repeat;
}

#fbBox #fbPlayPause, #fbBox #fbPlay, #fbBox #fbPause {
	width: 46px;  /* = dimensions of the 'play' and 'pause' graphics (they need to be the same size) */
	height: 14px;
	text-align: left;
}

/* 'play' and 'pause' graphics */
#fbBox .fbPlay_black { background-image: url(/assets/play_black.gif); }
#fbBox .fbPlay_white { background-image: url(/assets/play_white.gif); }
#fbBox .fbPlay_blue { background-image: url(/assets/play_blue.gif); }
#fbBox .fbPlay_yellow { background-image: url(/assets/play_yellow.gif); }
#fbBox .fbPlay_red { background-image: url(/assets/play_red.gif); }
#fbBox .fbPlay_custom { background-image: url(/assets/play_yellow.gif); }
#fbBox .fbPause_black { background-image: url(/assets/pause_black.gif); }
#fbBox .fbPause_white { background-image: url(/assets/pause_white.gif); }
#fbBox .fbPause_blue { background-image: url(/assets/pause_blue.gif); }
#fbBox .fbPause_yellow { background-image: url(/assets/pause_yellow.gif); }
#fbBox .fbPause_red { background-image: url(/assets/pause_red.gif); }
#fbBox .fbPause_custom { background-image: url(/assets/pause_yellow.gif); }

#fbBox #fbClose {
	width: 46px;  /* = dimensions of the 'close' graphic */
	height: 14px;
	background-repeat: no-repeat;
}

/* 'close' graphic */
#fbBox .fbClose_black { background-image: url(/assets/close_black.gif); }
#fbBox .fbClose_white { background-image: url(/assets/close_white.gif); }
#fbBox .fbClose_blue { background-image: url(/assets/close_blue.gif); }
#fbBox .fbClose_yellow { background-image: url(/assets/close_yellow.gif); }
#fbBox .fbClose_red { background-image: url(/assets/close_red.gif); }
#fbBox .fbClose_custom { background-image: url(/assets/close_yellow.gif); }

#fbBox #fbIndexLinks {
	clear: both;
	font-size: 11px;
	cursor: default;
}
#fbBox #fbIndexLinks a:hover {
	font-weight: bold;
}

/* posLeft, posCenter & posRight are dynamically assigned classes that allow layout of the info and control panels depending on which side they're on */
/* info panel */
#fbInfoPanel.posCenter, #fbInfoDiv.posCenter, #fbIndexLinks.posCenter {
	margin: 0 auto;
}
#fbInfoPanel.posRight, #fbInfoDiv.posRight, #fbIndexLinks.posRight {
	float: right;
}
#fbInfoPanel.posLeft, #fbInfoDiv.posLeft, #fbIndexLinks.posLeft {
	float: left;
}
/* control panel */
#fbControlPanel.posRight, #fbControls.posRight, #fbClose.posRight, #fbSubControls.posRight, #fbNavControls.posLeft, #fbPlayPause.posLeft {
	float: right;
}
#fbControlPanel.posLeft, #fbControls.posLeft, #fbClose.posLeft, #fbSubControls.posLeft, #fbNavControls.posRight, #fbPlayPause.posRight {
	float: left;
}
/* IE6 wants these, maybe for layout? */
#fbSubControls, #fbClose, #fbIndexLinks, #fbPlayPause, #fbNavControls {
	float: left;
}
